body {
  margin: 0px;
}

p {
  width: 128px;
  height: 128px;
  background: lightgreen;
}

#first_div {
  width: 100%;
  height: 256px;
  background: red;
}

#second_div {
  width: 100%;
  height: 256px;
  background: rgb(119, 0, 255);
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  display: flex;
  flex-grow: 1;
  background-color: yellow;
  justify-content: space-around;
}
